body{
    /*background-color:rgb(51, 91, 213);
    background-color: rgb(0, 143, 213); 176, 108, 244*/
    background-color: azure;
    background-image:linear-gradient(to right, azure, rgb(226, 224, 224));
    margin: 0;
    margin-top: 0;
    padding:0;
    padding-top: 0;
}
div#areaTotal{
    margin: auto;
    width: 50%;
    /*border: 3px solid white;*/
    padding: 10px;
}
h1#tituloPrincipal{
    font-family: 'Courier New', Courier, monospace;
    padding: 5%;
    font-size: 300%;
    mask-image: linear-gradient(to right, #f00, #00f);
}
div#campo_top{
    
    width: 100%;
    
   
    background-color: rgb(15, 185, 100);
}
div#menu{
    margin-right: auto;
    justify-content: center;
    
}
ul#opcoes{
    list-style-type: none;
    margin: 0%;
    padding: 0;
}
nav#barraNav{
   transform: translate(18%,50%);
}
li#op{
    float: left;
    padding: 10px;
    margin: auto;
}
li#op a{
    text-decoration: none;
}
li#op a:hover:not(#op){
    background-color: rgb(18, 104, 46);
}
li#op{
     background-color: #04AA6D;
}
li#op{
    border-right: 1px solid #bbb;
}

img#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 5%;
    
   
}/**/
