body{
    /*background-color:rgb(51, 91, 213);
    background-color: rgb(0, 143, 213); 176, 108, 244*/
    background-color:rgb(4, 106, 190);
    background-image: linear-gradient(to right, #7b7ea1, #2196f3);    
    margin: 0;
    padding: 0;
}
div#topo{
    background-color:aliceblue;
    /*  background-color: aqua;*/
    padding: 25px;
}
h1#tituloPrincipal{
    text-align: center;
}
nav{
    text-align: center;
}
nav ul{
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    
}
nav li{
    display: inline-block;
   
}
nav a{
    display: block;
    text-decoration: none;
    padding: 5px;
    color: azure;
}
nav a:hover{
    text-decoration:underline;
}
div#areaTotal{
  
    margin: auto;
    width: 50%;   
}
img#img1{
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 80%;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
}
.area_procedimentos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
.area_duvidas{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.area-quem-somos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.areaDepoimentos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*nav{
    text-align: center;
}
nav ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
   
    text-decoration: none;
    color: #333;
  }*/
  

