body{
    /*background-color:rgb(51, 91, 213);
    background-color: rgb(0, 143, 213); 176, 108, 244*/
    background-color: azure;
    background-image:linear-gradient(to right, azure, rgb(226, 224, 224));
    margin: 0;
    padding: 0;
}
div#topo{
   background-color: aqua;
   padding: 25px;
}
h1#tituloPrincipal{
    text-align: center;
}
nav{
    text-align: center;
}
nav ul{
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
}
nav li{
    display: inline-block;
}
nav a{
    display: block;
    text-decoration: none;
    padding: 5px;
}
nav a:hover{
    text-decoration:underline;
}
div#areaTotal{
    background-color: aquamarine;
    margin: auto;
    width: 50%;   
}
img#img1{
    display: block;
    margin: 10px auto;
    text-align: center;
   
}
.area_procedimentos{
    background-color: brown;
    border-radius: 10px;
}
.area_duvidas{
    background-color: chartreuse;
}
.area-quem-somos{
   background-color: cornflowerblue;
}
.areaDepoimentos{
    background-color: darkmagenta;
}
/*nav{
    text-align: center;
}
nav ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
   
    text-decoration: none;
    color: #333;
  }*/
  

